<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fenqing168.gmall.modules.sku.mapper.PmsSkuSaleAttrValueMapper">


	<insert id="inserts">
		insert into pms_sku_sale_attr_value(sku_id, sale_attr_id, sale_attr_value_id, sale_attr_name, sale_attr_value_name) values
		<foreach collection="skuSaleAttrValueList" item="skuSaleAttrValue" separator=",">
			(#{skuSaleAttrValue.skuId}, #{skuSaleAttrValue.saleAttrId}, #{skuSaleAttrValue.saleAttrValueId}
			, #{skuSaleAttrValue.saleAttrName}, #{skuSaleAttrValue.saleAttrValueName} )
		</foreach>
	</insert>
</mapper>